[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "UBStats"]
	path = UBStats
	url = https://github.com/raffaellapiccarreta/ubstats
